html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 16px;
  }
  
  header {
    display: flex;
    background-color: #93c47d;
    height: 6rem;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center
  }
  
  .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50rem;
  }
  
  a {
    text-decoration: none;
    color: black;
    gap: 5rem;
    font-size: 2.2rem;
  }
  
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #logo {
    width: 95px;
    margin-left: 10px;
  
  }

  .cajaGraciasD{ 
    display: flex;
    background-color: #93c47d;
    width: min(90rem, 100%);
    margin: auto;
    margin-top: 10rem;
    padding: 5%;
    border-radius: 3rem;
    font-size: 25px;
}
  
  /*FOOTER*/
  /* Estilos del foooter  */
  
  
  .footer-distributed {
    display: flex;
    margin-top: 10rem;
    background-color: #93c47d;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    height: 10rem;
    z-index: 0;
    align-items: center;
    justify-content: center;
  }
  
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 40%;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-company-name {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin: 0;
    font-size: 20px;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #000000;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    font-size: 20px;
  }
  
  
  
  .footer-distributed .footer-center p a {
    color: #2b3c24;
    text-decoration: none;
  }
  
  
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  
  .footer-distributed .footer-right {
    width: 20%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
  }